<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.BookingMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="bookMap" type="com.mon.aichat.model.entity.BookingEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="tag" javaType="Integer" column="tag"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="start" javaType="Date" column="start"/>
        <result property="end" javaType="Date" column="end"/>
        <result property="time" javaType="Date" column="time"/>
        <result property="theme" javaType="String" column="theme"/>
        <result property="content" javaType="String" column="content"/>
        <result property="memo" javaType="String" column="memo"/>
    </resultMap>

    <select id="onQuery" resultMap="bookMap">
        SELECT * FROM booking
        <where>
            <if test="tag!=null">
                tag = #{tag}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
        limit #{position},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM booking
        <where>
            <if test="tag!=null">
                tag = #{tag}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="start!=null">
                and start &gt; #{start}
            </if>
            <if test="end!=null">
                and end &lt; #{end}
            </if>
        </where>
    </select>

    <insert id="onInsert">
        insert into booking (tag,start,end,time,theme,content,memo) values
        (#{body.tag},#{body.start},#{body.end},NOW(),#{body.theme},#{body.content},#{body.memo});
    </insert>

    <delete id="onDelete">
        delete from booking where id = #{id};
    </delete>

    <update id="onDelete2">
        update booking set status = 100 where id = #{id};
    </update>

    <update id="onUpdate">
        update booking
        <set>
            <if test="body.tag!=null">
                tag = #{body.tag},
            </if>
            <if test="body.start!=null">
                start = #{body.start},
            </if>
            <if test="body.end!=null">
                end = #{body.end},
            </if>
            <if test="body.time!=null">
                time = #{body.time},
            </if>
            <if test="body.theme!=null">
                theme = #{body.theme},
            </if>
            <if test="body.content!=null">
                content = #{body.content},
            </if>
            <if test="body.memo!=null">
                memo = #{body.memo}
            </if>
        </set>
        where id = #{body.id};
    </update>

</mapper>