<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.CompanyMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="companyMap" type="com.mon.aichat.model.entity.CompanyEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="uid" javaType="Integer" column="uid"/>
        <result property="level" javaType="Integer" column="level"/>
        <result property="status" javaType="Integer" column="status"/>
        <result property="logo" javaType="String" column="logo"/>
        <result property="name" javaType="String" column="name"/>
        <result property="description" javaType="String" column="description"/>
        <result property="address" javaType="String" column="address"/>
        <result property="lat" javaType="Double" column="lat"/>
        <result property="lng" javaType="Double" column="lng"/>
        <result property="createTime" javaType="Date" column="create_time"/>
    </resultMap>

    <insert id="onInsert">
        INSERT INTO company (uid, level, status, logo, name, description, address, lat, lng, create_time)
        VALUES
        (#{body.uid},#{body.level},0,#{body.logo},#{body.name},#{body.description},#{body.address},#{body.lat},#{body.lng},
        NOW());
    </insert>

    <update id="onUpdate">
        UPDATE company
        <set>
            <if test="body.level != null">level=#{body.level},</if>
            <if test="body.logo != null">logo=#{body.logo},</if>
            <if test="body.name != null">name=#{body.name},</if>
            <if test="body.description != null">description=#{body.description},</if>
            <if test="body.address != null">address=#{body.address},</if>
            <if test="body.lat != null">lat=#{body.lat},</if>
            <if test="body.lng != null">lng=#{body.lng},</if>
            <if test="body.uid != null">uid=#{body.uid},</if>
        </set>
        WHERE id=#{body.id};
    </update>

    <select id="onQuery" resultMap="companyMap">
        SELECT * FROM company
        <where>
            <if test="level!=null">
                level = #{level}
            </if>
<!--            <if test="key != null">-->
<!--                AND name LIKE CONCAT('%', #{key}, '%')-->
<!--            </if>-->
        </where>
        limit #{position},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM company
        <where>
            <if test="level!=null">
                level = #{level}
            </if>
        </where>
    </select>

    <delete id="onDelete">
        DELETE FROM company WHERE userId=#{id};
    </delete>
</mapper>