<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.CompanyMapper">
    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="roomMap" type="com.mon.aichat.model.entity.CompanyEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="createTime" javaType="Date" column="create_date"/>
    </resultMap>

    <cache/>

    <insert id="onInsert">
        INSERT INTO company (uid, name, memo) VALUES (#{id},#{value});
    </insert>

    <update id="onUpdate">
        UPDATE company
        <set>
            value=#{value}
        </set>
        WHERE userId=#{id};
    </update>

    <select id="onQuery" resultType="com.mon.aichat.model.entity.CompanyEntity">
        SELECT * FROM company where userId=#{id};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM company;
    </select>

    <delete id="onDelete">
        DELETE FROM company WHERE userId=#{id};
    </delete>
</mapper>