<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.DepartmentMapper">
    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="departMap" type="com.mon.aichat.model.entity.DepartmentEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="name" javaType="String" column="name"/>
        <result property="description" javaType="String" column="description"/>
        <result property="parentId" javaType="Integer" column="parent_id"/>
        <result property="managerId" javaType="Integer" column="manager_id"/>
        <result property="companyId" javaType="Integer" column="company_id"/>
        <result property="level" javaType="Integer" column="level"/>
    </resultMap>

    <cache/>

    <insert id="onInsert">
        INSERT INTO department (name, description, parent_id, manager_id, company_id, level)
        VALUES
        (#{body.name},#{body.description},#{body.parentId},#{body.managerId},#{body.companyId},#{body.level});
    </insert>

    <update id="onUpdate">
        UPDATE department
        <set>
            <if test="body.name != null">name=#{body.name},</if>
            <if test="body.description != null">description=#{body.description},</if>
            <if test="body.parentId != null">parent_id=#{body.parentId},</if>
            <if test="body.managerId != null">manager_id=#{body.managerId},</if>
            <if test="body.companyId != null">company_id=#{body.companyId},</if>
            <if test="body.level != null">level=#{body.level},</if>
        </set>
        WHERE id=#{body.id};
    </update>

    <select id="onQuery" resultMap="departMap">
        SELECT * FROM department where company_id=#{cId};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM department where company_id=#{cId};
    </select>

    <delete id="onDelete">
        DELETE FROM department WHERE id=#{id};
    </delete>

</mapper>