<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.DeviceGroupMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="groupMap" type="com.mon.aichat.model.entity.DeviceGroupEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="pid" javaType="Integer" column="pid"/>
        <result property="level" javaType="Integer" column="level"/>
        <result property="name" javaType="String" column="name"/>
        <result property="memo" javaType="String" column="memo"/>
        <result property="createDate" javaType="Date" column="create_date"/>
    </resultMap>

    <select id="onQuery" resultMap="groupMap">
        SELECT * FROM device_group where
        <if test="body.level!=null">
            level = #{level}
        </if>
        limit #{start},#{size};
    </select>

    <insert id="onInsert">
        insert into device_group (pid,level,name,memo,create_date) values
        (#{body.pid},#{body.level},#{body.name},#{body.memo},#{body.createDate});
    </insert>

    <delete id="onDelete">
        delete from device_group where id = #{id};
    </delete>

    <update id="onUpdate">
        update device_group
        <set>
            <if test="body.pid!=null">
                pid = #{body.pid},
            </if>
            <if test="body.level!=null">
                level = #{body.level},
            </if>
            <if test="body.name!=null and body.name!=''">
                name = #{body.name},
            </if>
            <if test="body.memo!=null and body.memo!=''">
                memo = #{body.memo}
            </if>
        </set>
        where id = #{body.id};
    </update>
</mapper>