<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.DeviceMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="deviceMap" type="com.mon.aichat.model.dto.Device">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
<!--        <result property="gid" javaType="Integer" column="gid"/>-->
        <result property="deviceType" javaType="Integer" column="device_type"/>
        <result property="nickname" javaType="String" column="nickname"/>
        <result property="sn" javaType="String" column="sn"/>
        <result property="memo" javaType="String" column="memo"/>
        <result property="createTime" javaType="String" column="create_time"/>
    </resultMap>

    <select id="onQuery" resultMap="deviceMap">
        SELECT * FROM ac_device where device_type=1 limit #{start},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM ac_device;
    </select>

    <insert id="onCreate">
        insert into ac_device (device_type,nickname,sn,memo,create_time) values
        (#{body.deviceType},#{body.nickname},#{body.sn},#{body.memo},#{body.createTime});
    </insert>

    <update id="onUpdate">
        update ac_device
        <set>
            <if test="body.deviceType!=null">
                device_type = #{body.deviceType},
            </if>
            <if test="body.nickname!=null">
                nickname = #{body.nickname},
            </if>
            <if test="body.sn!=null and body.sn!=''">
                sn = #{body.sn},
            </if>
            <if test="body.memo!=null and body.memo!=''">
                memo = #{body.memo},
            </if>
        </set>
        where id = #{body.id};
    </update>

    <delete id="onDelete">
        delete from ac_device where id = #{id};
    </delete>
</mapper>