<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.EmployeeMapper">
    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="departMap" type="com.mon.aichat.model.entity.EmployeeEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="uid" javaType="Integer" column="uid"/>
        <result property="status" javaType="String" column="status"/>
        <result property="companyId" javaType="Integer" column="company_id"/>
        <result property="departmentId" javaType="Integer" column="department_id"/>
        <result property="memo" javaType="String" column="memo"/>
        <result property="auth" javaType="String" column="auth"/>
        <result property="createTime" javaType="String" column="create_time"/>
        <result property="updateTime" javaType="String" column="update_time"/>
    </resultMap>

    <cache/>

    <insert id="onInsert">
        INSERT INTO employee (uid, status, company_id, department_id, memo, auth, create_time, update_time)
        VALUES
        (#{body.uid},0,#{body.companyId},#{body.departmentId},#{memo},'',NOW(),NOW());
    </insert>

    <update id="onUpdate">
        UPDATE employee
        <set>
            <if test="body.status != null">status=#{body.status},</if>
            <if test="body.companyId != null">company_id=#{body.companyId},</if>
            <if test="body.departmentId != null">department_id=#{body.departmentId},</if>
            <if test="body.memo != null">memo=#{body.memo},</if>
            <if test="body.auth != null">auth=#{body.auth},</if>
            <if test="body.updateTime != null">update_time=NOW(),</if>
        </set>
        WHERE id=#{body.id};
    </update>

    <update id="onMove">
        UPDATE employee
        <set>
            <if test="body.departmentId != null">department_id=#{body.departmentId},</if>
            <if test="body.updateTime != null">update_time=NOW(),</if>
        </set>
        WHERE id=#{body.id};
    </update>

    <select id="onQuery" resultMap="departMap">
        SELECT * FROM employee
        <where>
            <if test="cId != null">company_id=#{cId}</if>
            <if test="dId != null">department_id=#{dId}</if>
        </where>
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM employee
        <where>
            <if test="cId != null">company_id=#{cId}</if>
            <if test="dId != null">department_id=#{dId}</if>
        </where>
    </select>

    <delete id="onDelete">
        DELETE FROM employee WHERE id=#{id};
    </delete>
</mapper>