<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.ModelLinkDeviceMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="linkDeviceMap" type="com.mon.aichat.model.dto.ModelLinkDevice">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="did" javaType="Integer" column="did"/>
        <result property="kid" javaType="Integer" column="kid"/>
        <result property="time" javaType="String" column="time"/>
    </resultMap>

    <select id="onQuery" resultMap="linkDeviceMap">
        SELECT * FROM ac_model_device
        <if test="gid != null">
            where gid = #{gid}
        </if>
        <if test="did != null">
            where did = #{did}
        </if>
        <if test="kid != null">
            where kid = #{kid}
        </if>
        limit #{start},#{size};
    </select>

    <select id="onBind">
        SELECT * FROM ac_model_device (did,kid,time) values;
        <foreach item="id" collection="ids" separator=",">
            (#{id},#{kid},#{time})
        </foreach>
    </select>

<!--    <delete id="onDelete">-->
<!--        delete from ac_model_device where id=#{id}-->
<!--    </delete>-->
    <delete id="onDelete">
        delete form ac_model_device where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
        <set>
            and kid = #{kid}
        </set>
    </delete>
</mapper>