<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.ModelMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="modelMap" type="com.mon.aichat.model.dto.ModelDTO">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="kid" javaType="Integer" column="kid"/>
        <result property="name" javaType="String" column="name"/>
        <result property="memo" javaType="String" column="memo"/>
        <result property="time" javaType="String" column="time"/>
    </resultMap>

    <select id="onQuery" resultMap="modelMap">
        SELECT * FROM ac_model where;
    </select>

    <insert id="onCreate">
        insert into ac_model (kid,time,name,memo) values
        (#{body.kid},#{body.time},#{body.name},#{body.memo});
    </insert>

    <update id="onUpdate">
        update ac_model
        <set>
            <if test="body.kid!=null">
                kid = #{body.kid},
            </if>
            <if test="body.name!=null">
                name = #{body.name},
            </if>
            <if test="body.memo!=null and body.memo!=''">
                memo = #{body.memo},
            </if>
        </set>
        where id = #{body.id};
    </update>

    <delete id="onDelete">
        delete from ac_model where id=#{id}
    </delete>

</mapper>