<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.RoomMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="roomMap" type="com.mon.aichat.model.entity.RoomEntity">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="status" javaType="Integer" column="status"/>
        <result property="style" javaType="Integer" column="style"/>
        <result property="name" javaType="String" column="name"/>
        <result property="memo" javaType="String" column="memo"/>
        <result property="createDate" javaType="Date" column="create_date"/>
    </resultMap>

    <select id="onQuery" resultMap="roomMap">
        SELECT * FROM room where
        <if test="status!=null">
            status = #{status}
        </if>
        <if test="style!=null">
            and style = #{style}
        </if>
        limit #{start},#{size};
    </select>

    <select id="onCount" resultType="int">
        SELECT count(*) FROM room;
    </select>

    <insert id="onInsert">
        insert into room (status,style,name,memo,create_date) values
        (#{body.status},#{body.style},#{body.name},#{body.memo},#{body.createDate});
    </insert>

    <delete id="onDelete">
        delete from room where id = #{id};
    </delete>

    <update id="onUpdate">
        update room
        <set>
            <if test="body.status!=null">
                status = #{body.status},
            </if>
            <if test="body.style!=null">
                style = #{body.style},
            </if>
            <if test="body.name!=null and body.name!=''">
                name = #{body.name},
            </if>
            <if test="body.memo!=null and body.memo!=''">
                memo = #{body.memo}
            </if>
        </set>
        where id = #{body.id};
    </update>

</mapper>