<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.TmpMapper">

    <!--    &lt; for < (less-than)-->
    <!--    &gt; for > (greater-than)-->
    <!--    &amp; for & (ampersand)-->
    <!--    &quot; for " (double quote)-->
    <!--    &apos; for ' (single quote)-->

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <!--    <resultMap id="roomMap" type="com.mon.aichat.model.entity.TokenEntity">-->
    <!--        <id property="id" javaType="Integer" column="id"/>-->
    <!--        <result property="createDate" javaType="Date" column="create_date"/>-->
    <!--    </resultMap>-->

<!--  缓存配置  -->
    <!--    <cache/>-->

    <insert id="insert">
        INSERT INTO test (userId, value) VALUES (#{id},#{value});
    </insert>

    <update id="update">
        UPDATE test
        <set>
            value=#{value}
        </set>
        WHERE userId=#{id};
    </update>

    <delete id="delete">
        DELETE FROM test WHERE userId=#{id};
    </delete>

    <select id="query">
        SELECT * FROM test where userId=#{id};
    </select>

    <!--  可以使用<if>和<choose>元素在SQL语句中实现条件逻辑 -->
    <select id="selectTest">
        SELECT * FROM test WHERE 1=1
        <choose>
<!--   if    -->
            <when test="name != null">
                AND name = #{name}
            </when>
            <when test="age != null">
                AND age = #{age}
            </when>
<!--   else   -->
            <otherwise>
                AND status = 'active'
            </otherwise>
        </choose>
    </select>

<!--  使用if和else而不使用WHERE 1=1，可以使用<where>元素。<where>元素自动处理where关键字的位置，并删除任何前导and或or条件  -->
    <select id="selectTest3">
        SELECT * FROM users
        <where>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <select id="onQuery3">
        SELECT * FROM company
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="level != null">
                level = #{level}
            </if>
            <if test="key != null">
                AND name LIKE CONCAT('%', #{key}, '%')
            </if>
        </trim>
        LIMIT #{position}, #{size};
    </select>

</mapper>