<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon.aichat.mapper.UseRecordMapper">

    <!-- 配置 查询结果的列明和实体类的属性名的对应关系; -->
    <resultMap id="recordMap" type="com.mon.aichat.model.dto.UseRecord">
        <!--主键字段的对应 -->
        <id property="id" javaType="Integer" column="id"/>
        <!--非主键字段的对应-->
        <result property="did" javaType="Integer" column="did"/>
        <result property="gid" javaType="Integer" column="gid"/>
        <result property="kid" javaType="Integer" column="kid"/>
        <result property="time" javaType="String" column="time"/>
    </resultMap>

    <select id="onQuery" resultMap="recordMap">
        SELECT * FROM ac_record_use
        <set>
            <if test="gid!=null">
                where gid = #{gid},
            </if>
        </set>
        limit #{start},#{size};
    </select>

    <insert id="onCreate">
        insert into ac_record_use (gid,did,kid,time) values
        (#{body.gid},#{body.did},#{body.kid},#{body.time});
    </insert>

    <delete id="onDelete">
        delete from ac_record_use where id=#{id}
    </delete>
</mapper>